* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #444;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

h2 {
  margin-bottom: 2rem;
}
.tareas {
  list-style: none;
}

.tareas__link {
  text-decoration: none;
  color: yellow;
  font-family: sans-serif;
  transition: 0.2s all ease-in;
}
.tareas__link:hover {
  font-size: 1.2rem;
}
